p.p11 {margin: 0.0px 0.0px 5.0px 0.0px; font: 19.0px Helvetica; color: #a4aca0}
p.p12 {margin: 0.0px 0.0px 27.0px 0.0px; font: 14.0px Helvetica; color: #a4aca0}
p.p14 {margin: 0.0px 0.0px 14.4px 0.0px; font: 14.0px Helvetica; color: #a4aca0; background-color: #000000}
li.li13 {margin: 0.0px 0.0px 6.0px 0.0px; font: 14.0px Helvetica; color: #a4aca0}
span.s11 {font: 10.8px Symbol}
span.s12 {background-color: #000000}
ul.ul11 {list-style-type: disc}

p.p21 {margin: 30.0px 10.0px 25.0px 10.0px; text-align: justify; font: 19.0px Helvetica; color: #ffffff}
p.p22 {margin: 30.0px 10.0px 14.4px 10.0px; text-align: justify; font: 14.0px Helvetica; color: #a4aca0; background-color: #000000}
p.p24 {margin: 0.0px 10.0px 14.4px 10.0px; text-align: justify; font: 14.0px Helvetica; color: #a4aca0}
li.li23 {margin: 0.0px 10.0px 6.0px 10.0px; text-align: justify; font: 14.0px Helvetica; color: #a4aca0}
span.s21 {text-decoration: underline ; color: #0000ff}
span.s22 {background-color: #000000}
span.s23 {font: 11.7px Symbol}
ol.ol21 {list-style-type: decimal}
ul.ul21 {list-style-type: disc}

p.p31 {margin: 0.0px 0.0px 14.4px 0.0px; font: 19.0px Helvetica; color: #a4aca0; -webkit-text-stroke: #a4aca0; background-color: #000000}
p.p32 {margin: 0.0px 0.0px 27.0px 0.0px; font: 14.0px Helvetica; color: #ffffff; -webkit-text-stroke: #ffffff}
p.p33 {margin: 0.0px 0.0px 14.4px 0.0px; font: 14.0px Helvetica; color: #a4aca0; -webkit-text-stroke: #a4aca0; background-color: #000000}
p.p34 {margin: 0.0px 0.0px 5.0px 0.0px; font: 14.0px Helvetica; color: #a4aca0; -webkit-text-stroke: #a4aca0}
p.p35 {margin: 0.0px 0.0px 14.4px 0.0px; font: 14.0px Helvetica; color: #a4aca0; -webkit-text-stroke: #a4aca0}
span.s31 {font-kerning: none}
span.s32 {font-kerning: none; color: #ffffff; -webkit-text-stroke: 0px #ffffff}
span.s33 {text-decoration: underline ; font-kerning: none; color: #0000ff; -webkit-text-stroke: 0px #0000ff}
span.s34 {font-kerning: none; background-color: #000000}
span.s35 {font: 14.0px Helvetica; text-decoration: underline ; font-kerning: none; color: #0000ff; -webkit-text-stroke: 0px #0000ff}

p.p41 {margin: 30.0px 10.0px 25.0px 10.0px; text-align: justify; font: 19.0px Helvetica; color: #a4aca0}
p.p42 {margin: 30.0px 10.0px 14.4px 10.0px; text-align: justify; font: 14.0px Helvetica; color: #a4aca0; background-color: #000000}
p.p44 {margin: 0.0px 10.0px 14.4px 10.0px; text-align: justify; font: 14.0px Helvetica; color: #a4aca0}
li.li43 {margin: 0.0px 10.0px 6.0px 10.0px; text-align: justify; font: 14.0px Helvetica; color: #a4aca0}
span.s41 {text-decoration: underline}
span.s42 {text-decoration: underline ; color: #0000ff}
span.s43 {font: 10.8px Symbol}
span.s44 {background-color: #000000}
ul.ul41 {list-style-type: disc}

body.b1 {background-color: #000000}
